.noValido {
  border: 2px solid red;
}

.py5 {
  padding-top: 5pt;
  padding-bottom: 5pt;
}
.py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.px5 {
  padding-right: 5pt;
  padding-left: 5pt;
}
.pr5 {
  padding-right: 5pt;
}
.pl5 {
  padding-left: 5pt;
}
.pt5 {
  padding-top: 5pt;
}
.pt25 {
  padding-top: 25px;
}
.pb25 {
  padding-bottom: 25px;
}

.pull-right{
  float: right;
}